body {

    background-image:url("../Imagem/off.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;


}

#container{

      text-align: center;
      margin-top: 40px; 
      color: black;
      border-style: dashed;
      
      
     
}